.footer {
    padding: $main-padding;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    background-color: $footer-background-color;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: $accent-color;
}

.footer .social {
    font-size: 2rem;
}
