.footer {
    padding: $main-padding;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    background-color: $footer-background-color;
}

.footer a {
    color: $border-color;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}
