.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.shadow {
    display: block;
    margin: 11px 0 17px;
    color: $bg-color-title;
    text-shadow: 0 -2px 1px $shadow-text;
    letter-spacing: -4px;
}


.title p {
    font-style: italic;
    padding: $main-padding;
}

.logo {
    padding: $main-padding;
}

@media (max-width: 767px) {
    .title {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
}

@media (max-width: 600px) {
    .logo {
        display: none !important;
    }
}
