.fa-github,
.fa-camera-retro,
.fa-chalkboard,
.fa-moon,
.fa-trash-alt,
.fa-bars {
    color: $icons;

    &:hover {
        color: $accent-color2;
        transform: scale(1.1);
        transition: all 0.5s ease;
    }
}
