body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background: $bg-color-gradient;
    background: $background-color-gradient;
    border: solid $border-color 1px;
}

.main {
    flex: 1 0 auto;
    width: 64em;
    margin: 2em auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: $shadow;
    background-color: $main-background-color;
}

.main2 {
    flex: 1 0 auto;
    width: 64em;
    margin: 2em auto;
    max-width: 100%;
    max-height: 100%;
}

.max-width {
    max-width: 50%;
}

.header,
.footer {
    flex: 0 0 auto;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.about {
    padding: 5em;
    text-align: center;
    box-shadow: $shadow;
    background-color: $main-background-color;
    color: $font-alternative-color;
}

.index {
    text-align: center;
    box-shadow: $shadow;
    background-color: $main-background-color;
    color: $font-color;
}

.hidden {
    display: none !important;
}

@media (max-width: 1072px) {
    .main {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .index {
        padding: 1em;
    }
}
