body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border: solid $border-color 1px;
}

.main {
    flex: 1 0 auto;
    width: 64em;
    margin: 2em auto;
    max-width: 100%;
    max-height: 100%;
    border: solid $border-color 1px;
    background-color: $main-background-color;
    box-shadow: $shadow;
}

.header,
.footer {
    flex: 0 0 auto;
}

.column1 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5em;
    text-align: center;
    background-color: $column1-background-color;
}

.column2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    background-color: $column2-background-color;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.about {
    padding: 5em;
    text-align: center;
    box-shadow: $shadow;
}


@media (max-width: 1031px) {
    .column1,
    .column2 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .main {
        width: 90%;
    }
}
