.nav {
    width: 35%;
    height: 100px;
}

.nav a {
    display: inline-block;
    transition-duration: 0.3s;
    color: $font-color;

    &:hover {
        transform: scale(0.9);
        color: $accent-color;
        transition: all 0.5s ease;
    }
}

@media (max-width: 800px) {
    .nav {
        display: table;
    }
}
