.nav a {
    color: $font-color;
}


.nav ul li:first-child:hover {
    background-color: $accent-color;
    transition: all 0.5s ease;
}

.nav ul li:nth-child(2):hover {
    background-color: $accent-color;
    transition: all 0.5s ease;
}

.nav ul li:nth-child(3):hover {
    background-color: $accent-color;
    transition: all 0.5s ease;
}

.nav ul li:nth-child(4):hover {
    background-color: $accent-color;
    transition: all 0.5s ease;
}

.nav ul li:last-child:hover {
    background-color: $accent-color;
    transition: all 0.5s ease;
}

@media (max-width: 800px) {
    .nav {
        display: table;
    }
}
