.landingpage {
    display: grid;
    grid-column: span 3;
    gap: $magic-number $magic-number;
    padding-left: $magic-number;
    padding-right: $magic-number;
    margin-bottom: $magic-number;
    background-color: $main-background-color;
    max-width: 75%;
}

.landingpage h1 {
    color: $font-color;
    text-align: center;
}

.landingpage h1,
.landingpage p {
    grid-column: span 3;
}

.tech-box {
    background-color: $tech-box;
    border: solid 1px $border-color;
    text-align: center;
    box-shadow: $shadow;
    margin-bottom: $magic-number;
}



.tech-box h3 {
    color: $font-color;
    background-color: $footer-background-color;
}

.tech-box a {
    text-decoration: none;
    margin-bottom: 1em;
    color: $hover-icons-tech;
}

.tech-box a:hover {
    transform: scale(1.5);
    color: $hover-icons-tech;
}

.technology-article {
    display: flex;
    flex-direction: row;
}

.technology-article a:hover {
    color: $accent-color;
}

.technology-article .side-box h2 {
    color: $font-color;
}

.technology-article .side-box a {
    font-family: $header-font;
    display: inline-block;
    transition-duration: 0.3s;
    color: $font-color;
}

.technology-article .side-box a:hover {
    transform: scale(0.9);
    background-color: transparent;
    transition: all 0.5s ease;
    color: $accent-color;
}


.technology-article .side-box {
    width: 30%;
}

.technology-article .side-box ul {
    list-style-type: none;
    color: $font-color;
}

.technology-article .side-box {
    background-color: $main-background-color;
    color: $font-color;
    padding: $main-padding;
    text-align: left;
    border: solid 1px $border-color;
}

.content-box {
    background-color: $content-box;
    padding: $main-padding;
    text-align: left;
    width: auto;
    border: solid 1px $border-color;
}

.content-box .h3 {
    text-align: center;
}


@media (max-width: 937px) {
    .tech-box {
        grid-column: span 3;
    }
}

@media (max-width: 937px) {
    .technology-article .side-box {
        display: none !important;
    }
}
