.landingpage {
    display: grid;
    grid-column: span 3;
    gap: $magic-number $magic-number;
    padding-left: $magic-number;
    padding-right: $magic-number;
    margin-bottom: $magic-number;
    background-color: $column1-background-color;
    max-width: 75%;
}

.landingpage h1 {
    color: $background-color;
    text-align: center;
}

.landingpage h1,
.landingpage p {
    grid-column: span 3;
}

.tech-box {
    background-color: $background-color;
    border: solid 1px $border-color;
    text-align: center;
    box-shadow: $shadow;
    margin-bottom: $magic-number;
}


.tech-box h3 {
    background-color: $column1-background-color;
    color: $font-alternative-color;
}

.tech-box a {
    text-decoration: none;
    margin-bottom: 1em;
}

.tech-box a:hover {
    transform: scale(1.5);
}


.technology-article {
    display: flex;
    flex-direction: row;
}

.technology-article .side-box h2,
.technology-article .side-box a {
    color: $font-alternative-color;
}

.technology-article .side-box a:hover {
    background-color: $background-color;
    color: $font-color;
    transition: all 0.3s ease;
}

.technology-article .side-box a:active {
    background-color: $navbar-hover-background;
    color: $font-color;
}

.technology-article .side-box a:visited {
    color: $a-color-visit;
}

.technology-article .side-box {
    width: 30%;
}

.technology-article .side-box ul {
    list-style-type: none;
    color: $font-alternative-color;
}

.technology-article .content-box {
    width: auto;
}

.technology-article .content-box {
    border: solid 1px $border-color;
    padding: $main-padding;
    text-align: left;
}

.technology-article .side-box {
    background-color: $column1-background-color;
    border: solid 1px $border-color;
    padding: $main-padding;
    text-align: left;
}

@media (max-width: 937px) {
    .tech-box {
        grid-column: span 3;
    }
}

@media (max-width: 937px) {
    .technology-article .side-box {
        display: none !important;
    }
}
