* {
    font-family: $main-font;
    color: $font-color;
    letter-spacing: $main-letter-spacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    text-transform: uppercase;
}

html {
    font-size: 100%;
}

body {
    line-height: $main-line-height;
}

p {
    font-size: $main-font-size;
    margin-bottom: $magic-number;
}

.color {
    color: $background-color;
}

@media (min-widht: 64em) {
    html {
        font-size: 112.5%;
    }
}
