$main-font: 'Cardo', serif;
$header-font: 'Oswald', sans-serif;
$font-color: rgb(16, 16, 16);
$a-color-visit: rgb(122, 132, 186);
$font-alternative-color: #fff;
$border-color: #222;
$shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

$background-color: #ededed;
$background-alternative-color: #e0fbfc;
$main-background-color: #fff;
$column1-background-color: #222;
$column2-background-color: #fff;
$footer-background-color: #fff;
$navbar-hover-background: rgb(164, 164, 164);


$main-padding: 1em;
$main-font-size: 1em;
$main-line-height: 1.4;
$main-letter-spacing: 1px;
$magic-number: $main-font-size * $main-line-height;



